@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@media (max-width: 1280px) {
  html {
    font-size: 9px;
  }
}

.main {
  width: 80%;
  float: left;
  order: 3;
}

@media (max-width: 770px) {
  .main {
    width: 100%;
  }
}

.container {
  width: 100%;
  padding: 0 3%;
}

@media (max-width: 770px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

ul {
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

.lock {
  overflow: hidden;
}

.delete {
  display: none;
}

.menu-back {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 25px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  visibility: hidden;
  position: fixed;
}

.menu-back button {
  border: none;
  background-color: transparent;
  outline: none;
}

.menu-back span {
  padding-left: 14px;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #AEAEAE;
}

.menu__title {
  font-size: 20px;
  color: #3C3C3B;
  position: fixed;
}

.menu__title::after {
  content: '';
  height: 2px;
  display: block;
  background-color: #95B03C;
}

.catalog-menu__button {
  transform: rotate(-90deg);
  position: absolute;
  top: 20px;
  right: 10px;
  fill: #3C3C3B;
}

@keyframes moveFromRight {
  from {
    opacity: 0;
    transform: translateX(40%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveFromDown {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textMoveFromDown {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  width: 80%;
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #fff;
}

@media (max-width: 770px) {
  .header {
    position: static;
    order: 2;
    width: 100%;
  }
}

.navigation {
  flex-basis: 50%;
}

@media (max-width: 1280px) {
  .navigation {
    flex-basis: 75%;
  }
}

.navigation-wrapper {
  display: flex;
  flex-basis: 90%;
  justify-content: center;
  margin-top: 20px;
}

.navigation-menu {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  justify-content: space-around;
  font-size: 1.4rem;
  letter-spacing: 0.06em;
  margin: 10px 0 10px -10%;
}

.navigation-menu.mobile {
  position: fixed;
  left: 10%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  font-size: 14px;
  margin-top: -25px;
  z-index: 1000;
}

.navigation-menu.mobile-show {
  display: block;
}

.navigation-menu li {
  position: relative;
}

.navigation-menu li:hover .navigation-menu__link {
  color: #95B03C;
}

.navigation-menu li:hover .navigation-menu__button {
  fill: #95B03C;
}

.navigation-menu li:hover .navigation-submenu {
  visibility: visible;
  opacity: 1;
  animation: moveFromDown 0.5s linear;
}

.navigation-menu__button {
  margin-left: 10px;
  transition: 0.5s;
}

@media (max-width: 770px) {
  .navigation-menu__button {
    display: none;
  }
}

.navigation-menu__link {
  text-decoration: none;
  cursor: pointer;
  color: #3C3C3B;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  display: flex;
  padding-left: 5px;
}

@media (max-width: 770px) {
  .navigation-menu {
    display: none;
  }
}

.navigation-submenu {
  width: 140%;
  list-style: none;
  position: absolute;
  padding-top: 10px;
  top: 17px;
  left: -5px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  padding-left: 5px;
}

.navigation-submenu__link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #3C3C3B;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  padding: 15px 0 15px 5px;
}

.navigation-submenu__link:hover {
  background-color: #95B03C;
  color: #ffffff;
}

.navigation-search {
  margin: 0 auto;
  display: flex;
  background-color: #f8f8f8;
  justify-content: center;
  padding: 8px 0;
}

.navigation-search__input {
  border: 1px solid #E0E0E0;
  width: 72%;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  padding: 10px;
}

.navigation-search-button {
  background-color: #3C3C3B;
  margin-left: -5px;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  text-decoration: none;
}

.navigation-search-button__text {
  color: #ffffff;
  margin-left: 8px;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
}

.navigation-search-button__svg {
  fill: #ffffff;
}

.mobile-menu__text {
  padding: 22px 14px;
  border-bottom: 1px solid #F2F2F2;
}

.feedback {
  flex-basis: 50%;
  background-color: #95B03C;
  display: flex;
}

.feedback-contacts, .feedback a {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.feedback-contacts {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-contacts__free {
  display: block;
  font-size: 1.2rem;
}

.feedback-contacts__phone {
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  margin: 5px 0;
}

.feedback-contacts-city {
  display: flex;
  text-decoration: none;
}

.feedback-contacts-city__name {
  border-bottom: 1px dashed;
  font-size: 1.2rem;
  display: block;
  margin-left: 10px;
}

.feedback-contacts-city__marker {
  fill: white;
}

.functions {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  flex-basis: 45%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1280px) {
  .functions {
    flex-basis: 30%;
  }
}

.functions-item {
  text-decoration: none;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.functions-item:last-of-type {
  margin-right: 0;
}

.functions-item span {
  color: #ffffff;
  font-family: 'Roboto Medium';
  font-weight: normal;
  font-style: normal;
  position: absolute;
  font-size: 1.3rem;
}

.functions-item__text {
  color: #ffffff;
  margin-top: 5px;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
}

.functions-item__svg {
  fill: #ffffff;
}

.functions-item__svg-stroke {
  stroke: #ffffff;
}

@media (max-width: 1280px) {
  .functions-item {
    margin: 10px;
  }
  .functions-item:last-of-type {
    margin-right: 10px;
  }
  .functions-item__text {
    display: none;
  }
}

.favorites__counter {
  top: -10px;
  right: 25%;
}

.comparison__counter {
  top: -11px;
  right: 20%;
}

.basket__counter {
  top: -10px;
  right: 20%;
}

.consultation {
  background-color: #3C3C3B;
  display: flex;
  flex: 0 1 30%;
  justify-content: center;
}

.consultation__button {
  text-align: left;
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  outline: none;
  line-height: 25px;
}

.consultation__small {
  display: none;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto Medium';
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
  border: none;
  padding: 9px 22px;
}

.mobile__hidden {
  display: none;
}

@media (max-width: 1280px) {
  .comparison__counter, .basket__counter, .favorites__counter {
    right: -5px;
  }
}

@media (max-width: 770px) {
  #company {
    display: block;
  }
  .navigation {
    flex-basis: 10%;
    align-items: center;
  }
  .navigation-wrapper {
    margin-top: 10px;
  }
  .navigation-search {
    padding: 0;
    background-color: #fff;
  }
  .navigation-search__input {
    display: none;
  }
  .navigation-search-button {
    padding: 0;
    padding-top: 2px;
    background-color: #fff;
    margin-left: 5px;
  }
  .navigation-search-button__text {
    display: none;
  }
  .navigation-search-button__svg {
    fill: #3C3C3B;
    width: 19px;
    height: 19px;
  }
  .functions {
    display: flex;
    flex-basis: 5%;
    flex-wrap: nowrap;
    background-color: #fff;
  }
  .functions-item {
    margin: 10px 7px;
  }
  .functions-item span {
    color: #3C3C3B;
  }
  .functions-item__svg {
    fill: #3C3C3B;
  }
  .functions-item__svg-stroke {
    stroke: #3C3C3B;
  }
  .feedback {
    background: none;
    flex-basis: 88%;
    justify-content: space-between;
  }
  .feedback-contacts {
    display: none;
  }
  .consultation {
    flex-basis: 50%;
  }
  .consultation__button {
    display: none;
  }
  .consultation__small {
    display: block;
  }
  .mobile__hidden {
    display: block;
  }
}

.logo {
  background: url(../img/logo.png) no-repeat;
  background-position: center;
  background-size: 80%;
  height: 47px;
}

.menu-btn {
  position: absolute;
  top: 50px;
  right: 30px;
  display: none;
}

.menu-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 30px;
  height: 2px;
  background-color: #3C3C3B;
}

.menu-btn::before {
  content: '';
  display: block;
  transform: translateY(-10px);
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 30px;
  height: 2px;
  background-color: #3C3C3B;
}

.menu-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 30px;
  height: 2px;
  background-color: #3C3C3B;
  transform: translateY(10px);
}

@media (max-width: 770px) {
  .menu-btn {
    display: block;
  }
}

.sidebar {
  position: relative;
  z-index: 1000;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  width: 20%;
  background-color: #fff;
  float: left;
  padding-top: 25px;
}

.sidebar-menu {
  list-style: none;
  max-width: 80%;
  margin: 25px auto;
  position: relative;
}

.sidebar-menu__button {
  transform: rotate(-90deg);
  position: absolute;
  top: 20px;
  right: 10px;
  fill: #3C3C3B;
  display: none;
}

.sidebar-menu li {
  position: relative;
}

.sidebar-menu li:hover .sidebar-submenu {
  opacity: 1;
  visibility: visible;
  animation: moveFromRight 0.3s linear;
}

.sidebar-menu li:hover .sidebar-menu-link {
  background-color: #fff;
  border: none;
}

.sidebar-menu li:hover .sidebar-menu-link__svg {
  fill: #95B03C;
}

.sidebar-menu li:hover .sidebar-menu-link__text {
  color: #95B03C;
  text-transform: uppercase;
}

.sidebar-menu-link {
  display: block;
  background-color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto Medium';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  color: #3C3C3B;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  min-width: 80%;
  justify-content: space-between;
  height: 54px;
}

.sidebar-menu-link:last-of-type {
  border-bottom: 1px solid #ececec;
}

.sidebar-menu-link:hover {
  background-color: #fff;
  border: none;
}

.sidebar-menu-link:hover .sidebar-menu-link__svg {
  fill: #95B03C;
}

.sidebar-menu-link:hover .sidebar-menu-link__text {
  color: #95B03C;
}

.sidebar-menu-link__text {
  flex-basis: 80%;
  padding-right: 5px;
  margin-left: 10px;
  min-width: 80%;
  transition: 0.3s;
  padding-right: 25px;
}

.sidebar-menu-link__svg {
  flex-basis: 25%;
  min-width: 25%;
  text-align: center;
  fill: #3C3C3B;
  transition: 0.3s;
}

.sidebar-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  list-style: none;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.sidebar-submenu-link {
  background-color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto Medium';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  color: #3C3C3B;
  border: 1px solid #ececec;
  display: flex;
  align-items: center;
  min-width: 80%;
  justify-content: space-between;
  height: 54px;
  transition: 0.2s;
  border-radius: 5px;
}

.sidebar-submenu-link:last-of-type {
  border-bottom: 1px solid #ececec;
}

.sidebar-submenu-link:hover {
  background-color: #95B03C;
  border: none;
}

.sidebar-submenu-link:hover .sidebar-submenu-link__svg {
  fill: #ffffff;
}

.sidebar-submenu-link:hover .sidebar-submenu-link__text {
  color: #ffffff;
  text-transform: uppercase;
}

.sidebar-submenu-link__text {
  flex-basis: 80%;
  padding-right: 25px;
  margin-left: 10px;
  min-width: 80%;
  transition: 0.3s;
}

.sidebar-submenu-link__svg {
  transition: 0.3s;
  flex-basis: 20%;
  min-width: 20%;
  text-align: center;
  fill: #3C3C3B;
}

.services-submenu {
  display: none;
}

.catalog-menu__button {
  display: none;
}

@media (max-width: 770px) {
  .logo {
    background-size: 50%;
    background-position: 10px;
  }
  .sidebar {
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
    box-shadow: none;
  }
  .sidebar-menu {
    display: none;
    max-width: none;
    margin: 0;
  }
  .sidebar-menu__button {
    display: block;
  }
  .sidebar-menu-link__text {
    padding-right: 0;
    min-width: 0;
  }
  .sidebar-menu-link__svg {
    flex-basis: 14%;
    min-width: 0;
  }
  .sidebar-submenu {
    display: none;
  }
  .sidebar::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #95B03C;
    display: block;
  }
  .catalog-menu__button {
    display: block;
  }
}

.catalog-active {
  display: block;
  visibility: visible;
  position: absolute;
  margin-top: 70px;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  height: 100vh;
}

.services-active {
  display: block;
  visibility: visible;
  position: absolute;
  margin-top: 20px;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  height: 100vh;
}

.company-active {
  display: block;
  visibility: visible;
  position: absolute;
  margin-top: 40px;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  height: 100vh;
}

.buyer-active {
  display: block;
  visibility: visible;
  position: absolute;
  margin-top: 40px;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  height: 100vh;
}

.active {
  display: block;
  visibility: visible;
  transform: translateX(-100%);
  position: absolute;
  z-index: 50000;
}

.hero {
  width: 100%;
  margin-top: 200px;
}

@media (max-width: 770px) {
  .hero {
    margin-top: 20px;
  }
}

.hero-slider {
  width: 100%;
  display: flex;
  position: relative;
}

@media (max-width: 770px) {
  .hero-slider {
    display: block;
  }
}

.hero-slider__grad {
  background-color: #eaeaea;
  position: absolute;
  z-index: -2;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

@media (max-width: 770px) {
  .hero-slider__grad {
    display: none;
  }
}

.hero-slider__percent {
  background-image: url(../img/percent.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

@media (max-width: 770px) {
  .hero-slider__percent {
    display: none;
  }
}

.hero-sales {
  width: 40%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}

@media (max-width: 1281px) {
  .hero-sales {
    padding: 0 20px;
  }
}

@media (max-width: 770px) {
  .hero-sales {
    width: 100%;
  }
}

.hero-sales span {
  display: block;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 65px;
  width: 100%;
}

.hero-main {
  width: 60%;
  position: relative;
  height: 500px;
}

@media (max-width: 770px) {
  .hero-main {
    width: 100%;
    height: 250px;
  }
}

.hero-main-wrapper {
  float: right;
  width: 85%;
}

@media (max-width: 770px) {
  .hero-main-wrapper {
    width: 100%;
  }
}

.hero-main__img {
  object-fit: scale-down;
}

.hero-main-arrow__top {
  position: absolute;
  z-index: 5;
  top: 12%;
  left: 10%;
  fill: #3C3C3B;
  outline: none;
}

.hero-main-arrow__top:hover {
  fill: #95B03C;
  cursor: pointer;
}

@media (max-width: 770px) {
  .hero-main-arrow__top {
    left: 5%;
    top: 5%;
  }
}

.hero-main-arrow__bottom {
  position: absolute;
  z-index: 5;
  bottom: 15%;
  right: 8%;
  transform: rotate(180deg);
  fill: #3C3C3B;
  outline: none;
}

.hero-main-arrow__bottom:hover {
  fill: #95B03C;
  cursor: pointer;
}

.hero-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  bottom: -10%;
  left: -97%;
}

.hero-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #3C3C3B;
}

.hero-dots li.slick-active {
  background-color: #95B03C;
}

.hero-dots button {
  display: none;
}

.slick-track {
  height: 500px;
}

@media (max-width: 770px) {
  .slick-track {
    height: 250px;
  }
}

.offers {
  width: 100%;
  margin-top: 90px;
  display: grid;
  grid-template: 50% 50%/ 25% 25% 25% 25%;
  overflow: hidden;
}

@media (max-width: 950px) {
  .offers {
    grid-template: 25% 25% 25% 25%/ 50% 50%;
  }
}

.offers-link {
  display: flex;
  height: 35rem;
  text-decoration: none;
  position: relative;
  align-items: flex-end;
}

.offers-link:hover .offers__description {
  animation: textMoveFromDown .4s linear;
  opacity: 1;
}

.offers-item {
  display: flex;
  min-width: 100%;
  align-items: center;
  padding: 0 10px;
  padding-bottom: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.offers-item__text {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: #ffffff;
  margin-left: 20px;
}

@media (max-width: 428px) {
  .offers-item__text {
    margin-left: 0;
  }
}

.offers-item__svg img {
  width: 100%;
}

@media (max-width: 428px) {
  .offers-item__svg {
    width: 20%;
  }
}

@media (max-width: 428px) {
  .offers-item {
    height: 100px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.offers__description {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #95B03C;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  opacity: 0;
}

.offers-1 {
  background-image: url(../img/offers-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offers-2 {
  background-image: url(../img/offers-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offers-3 {
  background-image: url(../img/offers-3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offers-4 {
  background-image: url(../img/offers-4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offers-5 {
  background-image: url(../img/offers-5.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}

.offers-6 {
  background-image: url(../img/offers-6.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offers-7 {
  background-image: url(../img/offers-7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offers-8 {
  background-image: url(../img/offers-8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bestseller {
  margin-top: 8rem;
}

.bestseller-slider {
  display: grid;
  grid-template: 1fr/ 25% 25% 25% 25%;
}

@media (max-width: 950px) {
  .bestseller-slider {
    grid-template: 1fr 1fr/ 1fr 1fr;
  }
}

.bestseller-item {
  width: 99%;
  border: 1px solid #EBEBEB;
}

.bestseller-item:hover {
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.1);
}

.bestseller__title {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  color: #3C3C3B;
  font-weight: bold;
  margin-bottom: 4rem;
}

.bestseller-content {
  text-decoration: none;
  outline: none;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.bestseller-content-head {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.bestseller-content-head__id {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  color: #3C3C3B;
  text-transform: uppercase;
}

.bestseller-content-head__available {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  color: #95B03C;
}

.bestseller-content__name {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #3C3C3B;
}

.bestseller-content-price {
  display: flex;
  justify-content: space-between;
  margin: 9px 0 50px 0;
}

.bestseller-content-price__new {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  color: #3C3C3B;
}

.bestseller-content-price__old {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  color: #C2C2C2;
  text-decoration: line-through;
}

.bestseller-content img {
  width: 100%;
}

.bestseller-head {
  display: flex;
}

.bestseller-head__hit {
  padding: 5px;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  background-color: #3C3C3B;
  text-transform: uppercase;
}

.bestseller-head__discount {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #E94141;
  padding: 5px;
}

.bestseller .slick-track {
  height: auto;
}

.bestseller .slick-arrow {
  display: none !important;
}

.bestseller-dots {
  position: absolute;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}

.bestseller-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #3C3C3B;
}

.bestseller-dots li.slick-active {
  background-color: #95B03C;
}

.bestseller-dots button {
  display: none;
}

.news {
  background-color: #95B03C;
}

.product {
  margin-top: 10rem;
  display: grid;
  grid-template: 33% 33% 33%/ 28% 28% 14% 28%;
}

.product-item__img {
  width: 100%;
  height: 100%;
}

.product-item-1 {
  grid-area: 1 / 1 / 3 / 2;
}

.product-item-2 {
  grid-area: 1 / 2 / 2 / 4;
}

.product-item-4 {
  grid-area: 2 / 2 / 3 / 3;
}

.product-item-5 {
  grid-area: 2 / 3 / 3 / 5;
}

.product-item-6 {
  grid-area: 3 / 1 / 4 / 3;
}

.product-item-7 {
  grid-area: 3 / 3 / 4 / 5;
}

.six {
  margin-top: 9rem;
}

.partners {
  margin-top: 3.5rem;
  display: grid;
  grid-template: 50% 50%/ 25% 25% 25% 25%;
}

@media (max-width: 1280px) {
  .partners {
    grid-template: 25% 25% 25% 25%/50% 50%;
  }
}

@media (max-width: 428px) {
  .partners {
    display: block;
  }
}

.partners-item {
  display: grid;
  grid-template: 50% 50%/100%;
  min-height: 300px;
  text-decoration: none;
  border: 1px solid #EBEBEB;
}

.partners-item:hover {
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.1);
}

.partners-item__text {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: bold;
  color: #3C3C3B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-item__img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.about {
  margin-top: 8.8rem;
}

.about__title {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  color: #3C3C3B;
  margin-bottom: 2rem;
  font-weight: bold;
}

.about__description {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #262626;
}

.contacts {
  display: grid;
  grid-template: 100% / 18% 16% 23% 23% 23%;
}

@media (max-width: 1280px) {
  .contacts {
    grid-template: 60% 40%/ 25% 30% 22% 22%;
  }
}

@media (min-width: 428px) and (max-width: 767px) {
  .contacts {
    grid-template: 100%/ 45% 45%;
    grid-column-gap: 30px;
  }
}

@media (max-width: 427px) {
  .contacts {
    display: block;
    width: 80%;
  }
}

.contacts a {
  text-decoration: none;
}

.contacts ul {
  list-style: none;
}

.contacts-company {
  list-style: none;
}

.contacts-company__copyright {
  display: block;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  color: #3C3C3B;
  margin: 3.5rem 0;
}

.contacts-company__free {
  display: block;
  margin: 0 0 5px 0;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  color: #3C3C3B;
}

.contacts-company__logo {
  width: 100%;
}

.contacts-company-feedback {
  display: flex;
  justify-content: space-between;
}

.contacts-company-feedback__phone {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  color: #3C3C3B;
  line-height: 3rem;
}

.contacts-company-feedback__telegram {
  margin: 0 5px;
}

.contacts-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1280px) {
  .contacts-social {
    flex-direction: row;
    grid-area: 2 /1 /3 /2;
    justify-content: space-between;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .contacts-social {
    margin-top: -90px;
  }
}

@media (max-width: 427px) {
  .contacts-social {
    margin: 40px 0;
  }
}

.contacts__title {
  display: block;
  font-family: 'Roboto Medium';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  color: #262624;
  margin-bottom: 2.5rem;
}

.contacts-address {
  padding-left: 20px;
  padding-right: 10px;
}

.contacts-address__title {
  display: block;
  font-family: 'Roboto Medium';
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  color: #262624;
  margin-bottom: 1rem;
  line-height: 3rem;
}

.contacts-address-main {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.contacts-address-main p {
  margin: 0.5rem;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  color: #3C3C3B;
  margin-left: 15px;
}

@media (max-width: 1280px) {
  .contacts-address {
    grid-area: 1 / 2 / 3 /3;
  }
}

@media (max-width: 427px) {
  .contacts-address {
    padding-left: 0;
  }
}

@media (max-width: 1280px) {
  .contacts-about {
    grid-area: 1 / 3 / 3 /4;
  }
}

@media (max-width: 767px) {
  .contacts-about {
    display: none;
  }
}

.contacts-about__link {
  color: #3C3C3B;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 3rem;
}

@media (max-width: 1280px) {
  .contacts-buyer {
    grid-area: 1 / 4 / 3 /5;
  }
}

@media (max-width: 767px) {
  .contacts-buyer {
    display: none;
  }
}

.contacts-buyer__link {
  color: #3C3C3B;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 3rem;
}

.ninth {
  background-color: #95B03C;
}

.subscription {
  display: flex;
  height: 15rem;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 1020px) {
  .subscription {
    display: block;
    height: auto;
  }
}

.subscription-left {
  display: flex;
  align-items: center;
}

@media (max-width: 1020px) {
  .subscription-left {
    justify-content: center;
    padding-top: 20px;
  }
}

@media (max-width: 428px) {
  .subscription-left {
    justify-content: start;
  }
}

@media (max-width: 1020px) {
  .subscription__svg {
    display: none;
  }
}

.subscription-text {
  line-height: 3rem;
  margin-left: 4rem;
}

@media (max-width: 1020px) {
  .subscription-text {
    margin-left: 0;
  }
}

.subscription-text__title {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
}

@media (max-width: 428px) {
  .subscription-text__title {
    font-size: 20px;
  }
}

.subscription-text__description {
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 1.6rem;
}

.subscription-input {
  width: 50%;
  display: flex;
  padding-bottom: 3.5rem;
}

@media (max-width: 1020px) {
  .subscription-input {
    margin-top: 20px;
    width: 100%;
  }
}

.subscription-input__area {
  width: 70%;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  color: #3C3C3B;
  padding-left: 2rem;
  outline: none;
}

.subscription-input__button {
  width: 30%;
  padding: 2rem 0;
  border: none;
  background-color: #3C3C3B;
  color: #ffffff;
  font-size: 1.6rem;
  outline: none;
}

.subscription-input__button:hover {
  cursor: pointer;
}

.footer {
  margin-top: 1rem;
}

.footer-policy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-policy__link {
  flex-grow: 1;
  margin-top: 30px;
}

@media (max-width: 1020px) {
  .footer-policy {
    display: block;
  }
}

.footer-policy__price {
  font-size: 1.4rem;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  color: #b0b0b0;
}

.footer-payment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 2;
  margin-top: 3rem;
}

.footer-payment__title {
  font-size: 1.4rem;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  color: #3C3C3B;
  margin-right: 20px;
}

.footer-payment-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 300px;
  min-width: 300px;
}

.footer ul {
  list-style: none;
}

.footer a {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: 'Roboto Regular';
  font-weight: normal;
  font-style: normal;
  color: #3C3C3B;
}
/*# sourceMappingURL=style.css.map */